<div class="container">
	<div class="col-sm-3">&nbsp;</div>
	<div class="col-sm-6">
		<%= form_tag(new_requisition_path, method: 'get') do %>
		<%#= form_for :requisition, url: new_requisition_path, method: 'get' do |f| %>
			<div class="form-group">
				<label form="isoSearch">ISO</label>
				<%= collection_select(nil, :isometric_number, @iso, :isometric_number, :isometric_number, {}, class: 'form-control' ) %>
			</div>
			<div class="form-group">
				<label form="typeSearch">Component Type</label>
				<%= collection_select(nil, :type_id, @types, :id, :name, {include_blank: 'All Types'}, class: 'form-control') %>
			</div>
			<button type="submit" class="btn btn-primary pull-right" id="search">Create</button>
		<% end %>
	</div>
	<div class="col-sm-3">&nbsp;</div>
</div>

<script>

// $('#search').click(function() {
// 	window.location.href= window.location + "requisitions";
// });

</script>