<div class="container">
	<div class="col-sm-6">
		<form>
			<div class="form-group">
				<label form="isoSearch">ISO</label>
				<select class="form-control">
					<option>20502A - Sheet 1</option>
					<option>20502A - Sheet 2</option>
					<option>20502A - Sheet 3</option>
					<option>20502A - Sheet 4</option>
				</select>
			</div>
			<div class="form-group">
				<label form="typeSearch">Component Type</label>
				<select class="form-control">
					<option>Spool</option>
					<option>Support</option>
					<option>Connection</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
</div>