<div class="container">
	<div class="col-sm-3">&nbsp;</div>
	<div class="col-sm-6">
		<form>
			<div class="form-group">
				<label form="isoSearch">ISO</label>
				<select class="form-control">
					<option>20502A - Sheet 1</option>
					<option>20502A - Sheet 2</option>
					<option>20502A - Sheet 3</option>
					<option>20502A - Sheet 4</option>
				</select>
			</div>
			<div class="form-group">
				<label form="typeSearch">Component Type</label>
				<select class="form-control">
					<option>Spool</option>
					<option>Support</option>
					<option>Loose Piping Items</option>
				</select>
			</div>
			<button type="button" class="btn btn-primary pull-right" id="search">Search</button>
		</form>
	</div>
	<div class="col-sm-3">&nbsp;</div>
</div>

<script>

$('#search').click(function() {
	window.location.href= window.location + "requisitions";
});

</script>