<div class="container">
	<div class="col-sm-3">&nbsp;</div>
	<div class="col-sm-6">
		<%= form_tag(new_requisition_path, method: 'get') do %>
		<%#= form_for :requisition, url: new_requisition_path, method: 'get' do |f| %>
			<div class="form-group">
				<label form="isoSearch">ISO</label>
				<%= collection_select(nil, :isometric_number, @iso, :isometric_number, :isometric_number, {}, class: 'form-control' ) %>
			</div>
			<div class="form-group">
				<label>ISO</label>
				<%= text_field nil, :term, class: 'form-control' %>
			</div>
			<div class="form-group">
				<label form="typeSearch">Component Type</label>
				<%= collection_select(nil, :type_id, @types, :id, :name, {include_blank: 'All Types'}, class: 'form-control') %>
			</div>
			<button type="submit" class="btn btn-primary pull-right" id="search">Create</button>
		<% end %>
	</div>
	<div class="col-sm-3">&nbsp;</div>
</div>

<script>

	$(document).ready(function() {
		$("#_term").autocomplete({
			source: function( request, response ) {
	        $.ajax({
	          url: "/requisitions/get_iso_list",
	          dataType: "json",
	          data: {
	            term: request.term
	          },
	          success: function( data ) {
	            response( $.map( data, function( iso ) {
                    return {
                        label: iso.isometric_number
                    }
                }));
	          }
	        });
	      },
	      minLength: 1
		})
	});

// $('#search').click(function() {
// 	window.location.href= window.location + "requisitions";
// });

</script>