<div class="container">
	<div class="col-sm-12">
		<h4>ISO: </h4>
		<h4>Component Type: </h4>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Item 1</th>
						<th>Item 2</th>
						<th>Item 3</th>
						<th>Item 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
						<td>Data 3</td>
						<td>Data 4</td>
					</tr>
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
						<td>Data 3</td>
						<td>Data 4</td>
					</tr>
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
						<td>Data 3</td>
						<td>Data 4</td>
					</tr>
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
						<td>Data 3</td>
						<td>Data 4</td>
					</tr>
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
						<td>Data 3</td>
						<td>Data 4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="submit" class="btn btn-primary">Generate</button>
	</div>
</div>