<div class="container">
	<form>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="col-sm-12">
						<h4>ISO: <b>20502A - Sheet 1</b></h4>
					</div>
					<div class="form-group col-sm-4">
						<label for="project" class="control-label">Project</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group col-sm-4">
						<label for="project" class="control-label">Date</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group col-sm-12">
						<label for="intendeduse" class="control-label">Intended Use</label>
						<input type="text" class="form-control">
					</div>

					<div class="form-group col-sm-6">
						<label for="requestedby" class="control-label">Requested By</label>
						<input type="text" class="form-control">	
					</div>

					<div class="form-group col-sm-6">
						<label for="requestedby" class="control-label">Delivery Location</label>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<h4>Component Type: <b>Spools</b></h4>
					</div>
					<div class="col-sm-6">
						<h4 class="pull-right">WRFI No: <b>10842</b></h4>
					</div>
					<div class="col-sm-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">Quantity</th>
										<th>Material Description</th>
										<th class="text-center">MMS Part Number</th>
										<th class="text-center">Drawing Number</th>
										<th class="text-center">Work Package Number</th>
										<th class="text-center">Tag Number</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">1</td>
										<td>STMH0Z-20502A-KE59CAL-1</td>
										<td class="text-center"></td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>				
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<h4>Component Type: <b>Supports</b></h4>
					</div>
					<div class="col-sm-6">
						<h4 class="pull-right">WRFI No: <b>10843</b></h4>
					</div>
					<div class="col-sm-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">Quantity</th>
										<th>Material Description</th>
										<th class="text-center">MMS Part Number</th>
										<th class="text-center">Drawing Number</th>
										<th class="text-center">Work Package Number</th>
										<th class="text-center">Tag Number</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">1</td>
										<td>SPECIAL SUPPORT</td>
										<td class="text-center">CP20502A-02</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>8,0 PTFE GUIDE</td>
										<td class="text-center">CS0036-08</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>350,0 210,0 PIPE SHOE, LOOSE POINT</td>
										<td class="text-center">CS4108-03</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>1/2" EI Component</td>
										<td class="text-center">20PT1705A</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>1/2" EI Component</td>
										<td class="text-center">20PT1705B</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>1/2" EI Component</td>
										<td class="text-center">20PT1705C</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>				
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<h4>Component Type: <b>Loose Piping Items</b></h4>
					</div>
					<div class="col-sm-6">
						<h4 class="pull-right">WRFI No: <b>10844</b></h4>
					</div>
					<div class="col-sm-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">Quantity</th>
										<th>Material Description</th>
										<th class="text-center">MMS Part Number</th>
										<th class="text-center">Drawing Number</th>
										<th class="text-center">Work Package Number</th>
										<th class="text-center">Tag Number</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">3</td>
										<td>3/4" BLIND FLANGE W. 1/2" NPT HOLE</td>
										<td class="text-center">FBC1630AI</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">3</td>
										<td>3/4" GATE VALVE, SMALL SIZES</td>
										<td class="text-center">SKXI-03-FEGA</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">12</td>
										<td>5/8" STUD BOLT / NUTS</td>
										<td class="text-center">BB---02-BEAA</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">16</td>
										<td>1 1/4" STUD BOLT / NUTS</td>
										<td class="text-center">BB---02-BEAA</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>10" SPIRAL WOUND GASKET</td>
										<td class="text-center">DSBH-02-GACA</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
									<tr>
										<td class="text-center">3</td>
										<td>3/4" SPIRAL WOUND GASKET</td>
										<td class="text-center">DSBH-02-GACA</td>
										<td class="text-center">20502A 1 of 4</td>
										<td class="text-center"></td>
										<td class="text-center"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<button type="button" id="generate" class="btn btn-primary pull-right">Generate</button>
			</div>
		</div>
	</form>
</div>


<script>

$('#generate').click(function() {
	window.location.href= window.location + "/show";
});

</script>