<div class="container">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<h4>ISO: <b>20502A - Sheet 1</b></h4>
		</div>
		<div class="col-sm-6">
			<h4>Component Type: <b>Spool</b></h4>
		</div>
		<form>
			<div class="form-group col-sm-12">
				<label for="intendeduse" class="control-label">Intended Use</label>
				<input type="text" class="form-control">
			</div>

			<div class="form-group col-sm-6">
				<label for="requestedby" class="control-label">Requested By</label>
				<input type="text" class="form-control">	
			</div>

			<div class="form-group col-sm-6">
				<label for="requestedby" class="control-label">Delivery Location</label>
				<input type="text" class="form-control">
			</div>

			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Quantity</th>
								<th>Material Description</th>
								<th>MMS Part Number</th>
								<th>Drawing Number</th>
								<th>Work Package Number</th>
								<th>Tag Number</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2</td>
								<td>3" Flat ring gasket</td>
								<td>DFBD 06 6AEA</td>
								<td>20108 1of1</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>8</td>
								<td>90x5/8" Stud Bolt 3.5"</td>
								<td>BB UI 1313AA</td>
								<td>20108 1of1</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1</td>
								<td>3" Gate Valve w/hand w</td>
								<td>SABD 02 CCBA</td>
								<td>20108 1of1</td>
								<td></td>
								<td>WHSE 0-39</td>
							</tr>
							<tr>
								<td>1</td>
								<td>3" Flat Ring Gasket</td>
								<td>DFBD06 6AEA</td>
								<td>20281 2of2</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td>90x5/8" Stud Bolt 3.5"</td>
								<td>BB01BBAA</td>
								<td>20281 2of2</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary pull-right">Generate</button>
			</div>
		</form>
	</div>
</div>