<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-3">
							<img src="<%= image_path('cbilogo.jpg') %>">
						</div>
						<div class="col-sm-6">
							<h3>WAREHOUSE REQUEST FOR ISSUE</h3>
						</div>
						<div class="col-sm-3">
							<p>Project: <b>CF3</b></p>
							<p>WRFI No: <b>10842</b></p>
							<p>Date: <b>6/3/2015</b></p>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="padding-top: 30px;">
					<p>Intended Use: <b>Install</b></p>
				</div>

				<div class="col-sm-6">
					<p>Requested By: <b>Eric Carter</b></p>
				</div>

				<div class="col-sm-6">
					<p>Delivery Location: <b>Area 20</b></p>
				</div>

				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Quantity</th>
									<th>Material Description</th>
									<th>MMS Part Number</th>
									<th>Drawing Number</th>
									<th>Work Package Number</th>
									<th>Tag Number</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>STMH0Z-20502A-KE59CAL-1</td>
									<td></td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-3">
						<p>Received By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
					<div class="col-sm-3">
						<p>Issued By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-3">
							<img src="<%= image_path('cbilogo.jpg') %>">
						</div>
						<div class="col-sm-6">
							<h3>WAREHOUSE REQUEST FOR ISSUE</h3>
						</div>
						<div class="col-sm-3">
							<p>Project: <b>CF3</b></p>
							<p>WRFI No: <b>10843</b></p>
							<p>Date: <b>6/3/2015</b></p>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="padding-top: 30px;">
					<p>Intended Use: <b>Install</b></p>
				</div>

				<div class="col-sm-6">
					<p>Requested By: <b>Eric Carter</b></p>
				</div>

				<div class="col-sm-6">
					<p>Delivery Location: <b>Area 20</b></p>
				</div>

				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Quantity</th>
									<th>Material Description</th>
									<th>MMS Part Number</th>
									<th>Drawing Number</th>
									<th>Work Package Number</th>
									<th>Tag Number</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>SPECIAL SUPPORT</td>
									<td>CP20502A-02</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td>8,0 PTFE GUIDE</td>
									<td>CS0036-08</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td>350,0 210,0 PIPE SHOE, LOOSE POINT</td>
									<td>CS4108-03</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td>1/2" EI Component</td>
									<td>20PT1705A</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td>1/2" EI Component</td>
									<td>20PT1705B</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td>1/2" EI Component</td>
									<td>20PT1705C</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-3">
						<p>Received By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
					<div class="col-sm-3">
						<p>Issued By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-3">
							<img src="<%= image_path('cbilogo.jpg') %>">
						</div>
						<div class="col-sm-6">
							<h3>WAREHOUSE REQUEST FOR ISSUE</h3>
						</div>
						<div class="col-sm-3">
							<p>Project: <b>CF3</b></p>
							<p>WRFI No: <b>10844</b></p>
							<p>Date: <b>6/3/2015</b></p>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="padding-top: 30px;">
					<p>Intended Use: <b>Install</b></p>
				</div>

				<div class="col-sm-6">
					<p>Requested By: <b>Eric Carter</b></p>
				</div>

				<div class="col-sm-6">
					<p>Delivery Location: <b>Area 20</b></p>
				</div>

				<div class="col-sm-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Quantity</th>
									<th>Material Description</th>
									<th>MMS Part Number</th>
									<th>Drawing Number</th>
									<th>Work Package Number</th>
									<th>Tag Number</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3</td>
									<td>3/4" BLIND FLANGE W. 1/2" NPT HOLE</td>
									<td>FBC1630AI</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3</td>
									<td>3/4" GATE VALVE, SMALL SIZES</td>
									<td>SKXI-03-FEGA</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>12</td>
									<td>5/8" STUD BOLT / NUTS</td>
									<td>BB---02-BEAA</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>16</td>
									<td>1 1/4" STUD BOLT / NUTS</td>
									<td>BB---02-BEAA</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td>10" SPIRAL WOUND GASKET</td>
									<td>DSBH-02-GACA</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3</td>
									<td>3/4" SPIRAL WOUND GASKET</td>
									<td>DSBH-02-GACA</td>
									<td>20502A 1 of 4</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-3">
						<p>Received By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
					<div class="col-sm-3">
						<p>Issued By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>