/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui-1.10.4.custom.min";
@import "datepicker";

body { padding-top: 70px; padding-bottom: 20px }

.input-group.date .add-on {
  background-color: #fff;
  cursor: pointer;
}

.list-group-item.selected:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 2px;
	content: "";
	background-color: #337ab7;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 400px;
}

@media print{
	@page { size: landscape; margin: 0.75cm; }
	footer { page-break-after: always; }
	body { padding-top: 0px; padding-bottom: 20px; font-size: 10px}
	h3 { font-size: 14px; }
	img { max-height: 50px; }

	footer:last-child {
	    page-break-after: auto;
	}

	/*div#requisition-panel {
		min-height: 700px;
	}*/
}

.navbar-brand {
  padding-top: 10px;
}