<div class="container">
	<div class="col-sm-12">
		<div class="form-group clearfix">
			<%= link_to 'New Rule', new_rule_path, remote: true, class: "btn btn-primary pull-right" %>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Rules</b>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
					  	<tr>
					  		<th>Rule</th>
					  		<th>Definition</th>
					  		<th>Type</th>
					  		<th>Actions</th>
					  	</tr>
					</thead>
					<tbody id="ruleslist">
					  	<%= render "index" %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="rule-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>